.welcome-section {
    border-bottom: 4px solid var(--primary-opacity);
    padding: 0px;
}

.welcome-image {
    -webkit-animation: 2s ease 0s infinite alternate welcome-image-anim;
          animation: 2s ease 0s infinite alternate welcome-image-anim;
}

@-webkit-keyframes welcome-image-anim { from { transform: translateY(-5px); } to { transform: translateY(5px); }  }
        @keyframes welcome-image-anim { from { transform: translateY(-5px); } to { transform: translateY(5px); }  }


section {
    padding: 128px 0px;
}

.skill-card {
    border: 1px solid var(--primary-opacity);
    margin: 10px 0px;
    padding: 32px;
    height: 250px;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-text {
    text-align: justify;
}

.skill-title {
    transition: all .5s;
}

.skill-icons {
    margin: 10px 0px;
}

.skill-icons i {
    font-size: 32px;
    margin: 0px 2px;
    transition: all .5s ease;
}

.skill-icons i:hover {
    color: var(--primary);
}

.skill-card:hover {
    border-color: var(--primary);
}

.skill-card:hover .skill-title {
    color: var(--primary);
    margin-left: 3px;
}

.section-title {
    text-align: center;
}

.section-title small {
    color: var(--text-light) !important;
    text-transform: uppercase;
}

.projects {
    padding-bottom: 100px !important;
}

.projects .card {
    background-color: var(--secondary);
    border-radius: 0px;
    border: 1px solid var(--primary-opacity);
    cursor: pointer;
    position: relative;
    transition: .5s;
    min-height: 450px;
}

.projects .card img{
    filter: blur(0.2px);
    transition: .5s;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .projects .card img{
        filter: blur(0px);
    }
}

.projects .card:hover img{
    filter: blur(0px);
    transform: scale(1.1);
}

.projects .card-body {
    color: var(--light);
    background: var(--dark);
}
.projects .card .card-body > * {
    transition: .5s;
}

.projects .card:hover {
    border-color: var(--primary);
}

.projects .card:hover .card-body > * {
    transform: translateY(-2px);
}

.projects .card-img {
    border-radius: 0px;
    height:240px;
    overflow: hidden;
}

.projects .card-img-top {
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

.projects .card-footer {
    background: var(--dark);
    /*border-color: var(--primary-opacity);*/
    border: none;
    border-radius: 0px;
}

.projects .card-footer i {
    font-size: 1.5rem;
    margin: 0px 3px;
}

.projects .swiper {
    padding-bottom: 70px;
}

.bg-custom {
    background: #3c4185;
    color: var(--light);
}

.contact {
    width: 100%;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
    position: absolute;
}

.contact-container {
    padding: 50px 0px 100px 0px;
}

@media screen and (max-width: 900px) {
    .contact {
        position: relative;
        border-radius: 0px !important;
    }
    .contact-container {
        padding: 0px;
    }
    .contact .col-md-4 {
        margin: 10px 0px;
    }
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact-card-container {
    border-radius: 8px;
    border: 1px solid var(--secondary);
    padding: 20px;
    position: relative;
    transition: .5s;
}

.contact-card-container:hover {
    background: var(--secondary);
}

.contact-card-container:hover small {
    color: var(--text-light);
}

.contact-card-container p {
    font-size: 24px;
    margin: 0px;
}

.contact-card-container small {
    color: var(--dark);
}

.contact-card-container i {
    position: absolute;
    right: 20px;
    bottom: 18px;
    font-size: 64px;
}