<footer class="bg-secondary copyright">
  <p>Design, intégration et développement par Mehdi Zaidi <a href="https://github.com/Hidoyatmz/hidoyat.fr" target="_blank" class="link"><i class="devicon-github-original"></i></a></p>
</footer>