<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="navbar-container container py-3">
    <a class="navbar-brand" href="#">hidoyat.fr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {# <li class="nav-item">
          <a class="nav-link text-hover-select" href="#"><i class="fas fa-user"></i> About</a>
        </li> #}
        <li class="nav-item">
          <a class="nav-link text-hover-select" href="#skills"><i class="fa-solid fa-cube"></i> Compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-hover-select" target="_blank" href="https://github.com/Hidoyatmz"><i class="fa-brands fa-github"></i> Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-hover-select" target="_blank" href="https://www.linkedin.com/in/mehdi-z-77aa8a1a7/"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link text-hover-select" href="#"><i class="fas fa-signs-post"></i> Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-hover-select" href="#"><i class="fa-solid fa-envelope"></i> Contact</a>
        </li> #}
      </ul>
    </div>
  </div>
</nav>