<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hidoyat.fr{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
        <link href="{{ asset('assets/styles/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/styles/custom.css') }}" rel="stylesheet"/>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/8a6fd9fe6b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
